VITE_API_BASE_URL=http://localhost:3000
VITE_SOCKET_URL=http://localhost:3000
VITE_SOCKET_PATH=/socket.io
VITE_SOCKET_JOIN_EVENT=chat:join
VITE_SOCKET_SEND_MESSAGE_EVENT=chat:message:send
VITE_SOCKET_RECEIVE_MESSAGE_EVENT=chat:receiveMessage
